*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' ,sans-serif;
}
body{
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.navbar{
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    border: 2px white solid;
    border-radius: 15px;
    padding: 10px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 5px;
    /* margin-left: 0px; */
}
.iems{
    border: 1px solid white;
    border-radius: 15px;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 1px;
}
#items{
    padding-left: 100px;
    padding-right: 100px;
}
.rightStreet{
    background: #DFD6C5;

    width: 35%;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}
.leftStreet{
    width: 65%;
}
.theimage{
    background: #8E886D;

    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    
}
.upright{
    background: #8E886D;

    height: 25vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}
.downleft{
    background: #916E58;

    overflow: hidden;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;


}
.phot{
    width: 400px;
    border-radius: 20px;
}
.downright{
   padding: 10px;
    border-radius: 15px;
   margin-left: 10px;
   margin-top: 5px;
    background: #B1A48E;
    
    height: 425px;

    

}
.material{
    display: flex;
    height: 100vh;
    justify-content: space-around;
}
.below{
    display: flex;
    height: 50%;
}
.downleft{
    width: 1105px;
    height: 430px;
    margin-left: 15px;

}
.fistImage{
    width: 25rem;
    border-radius: 20px;
    width: 450px;
    height: 600px;
    margin-left: 25px;
    margin-top: 15px;
    
}
.last{
    display: flex;
    justify-content: space-between;
}
.snip{
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px;
    
}
.firstImage{
  overflow: hidden;
}
.last{
    padding: 15px;
}
.twoimg{
    overflow: hidden;
    width: 425px;
    height: 180px;
    
    border-radius: 30px;
}
.img2{
    border-radius: 50%;
    height: 100px;
    margin-left: 350px;
}
.fistImage:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    z-index:2 ;
    cursor: pointer;
}
.twoimg:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    z-index:2 ;
    cursor: pointer;
}
.phot:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    z-index:2 ;
    cursor: pointer;
    
}
.img2:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    z-index:2;
    cursor: pointer;
}
.hline{
    height: 1px;
    background-color: black;
    
}
@media(max-width:850px){
    html{
        font-size: 55%;
        
    }
}
.iems:hover{
    background: #B1A592;

    cursor: pointer;


}
.arraow:hover{
    transform: scale(2.0);
}


@media (max-width:700px) {
    body{
            font-size: 50%;
            flex-direction: column;
            width: 100%;
            height: 100vh;
    }
    .below{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .leftStreet{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .material{
        flex-direction: column;
        width: 100%;
        height: 100vh;

    }
    .rightStreet{
        flex-direction: row;
        width: 100%;
        height: 100vh;
        
    }
    .navbar{
        font-size: 50%;
        width: 100%;
         height: 10vh 
    }
}